In [4]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
import seaborn as sns

In [3]:
df = pd.read_csv('/kaggle/input/automobile/Automobile.csv')
df

,name,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,chevrolet chevelle malibu,18.0,8,307.0,130.0,3504,12.0,70,usa
1,buick skylark 320,15.0,8,350.0,165.0,3693,11.5,70,usa
2,plymouth satellite,18.0,8,318.0,150.0,3436,11.0,70,usa
3,amc rebel sst,16.0,8,304.0,150.0,3433,12.0,70,usa
4,ford torino,17.0,8,302.0,140.0,3449,10.5,70,usa
...,...,...,...,...,...,...,...,...,...
393,ford mustang gl,27.0,4,140.0,86.0,2790,15.6,82,usa
394,vw pickup,44.0,4,97.0,52.0,2130,24.6,82,europe
395,dodge rampage,32.0,4,135.0,84.0,2295,11.6,82,usa
396,ford ranger,28.0,4,120.0,79.0,2625,18.6,82,usa
397,chevy s-10,31.0,4,119.0,82.0,2720,19.4,82,usa

In [ ]:
df.info()

In [ ]:
df['origin'].value_counts()

In [ ]:
df.describe()

In [ ]:
sns.heatmap(df.isna())

In [ ]:
df = df.dropna(subset=['horsepower'])

In [ ]:
pd.DataFrame(df.isnull().sum()).T

In [ ]:
cat_cols = df.select_dtypes("category").columns
plt.figure(figsize= (9,6))
for i, col in enumerate(cat_cols):
    plt.subplot(2,3,i+1)
    unique = df[col].value_counts()
    #print(unique)
    count = unique.values
    categories = unique.index
    plt.pie(count,labels= categories, startangle= 90,autopct= '%1d%%' )
    plt.title(f"{col} Distribution Graph")
plt.subplots_adjust(hspace=0.7, wspace=0.2)
plt.show()

In [ ]:
df['weight'].hist(bins=30)

In [ ]:
sns.histplot(df['model_year'])

In [ ]:
pd.option_context('mode.use_inf_as_na', True)
sns.kdeplot(df["horsepower"])

In [ ]:
plt.figure(figsize=(4,4))
agg= df.pivot_table(index="cylinders", columns="horsepower", values="model_year")
print(agg)
sns.heatmap(agg)
plt.show()

In [ ]:
sns.countplot(x='cylinders',hue ='horsepower', data=df)

In [ ]:
plt.figure(figsize=(5,3))
plt.hist(df['cylinders'], density=True, edgecolor = "black")
plt.xlabel('cylinders')
plt.ylabel('horsepower')
plt.show()